# Copy from .env.local on the Vercel dashboard
# https://nextjs.org/learn/dashboard-app/setting-up-your-database#create-a-postgres-database
#POSTGRES_URL=
#POSTGRES_PRISMA_URL=
#POSTGRES_URL_NON_POOLING=
#POSTGRES_USER=
##POSTGRES_HOST=
#POSTGRES_PASSWORD=
#POSTGRES_DATABASE=
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZxYWZ2bXp2dHJwdm5ta3BqbWRsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMzNzgyOTMsImV4cCI6MjA4ODk1NDI5M30.g5lzKhMTzNqRQqhHZ5-wGR3rG5mNWPirEOWZxDse-2w"
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY="sb_publishable_q3i4oQbaI82583xlDCOZhw_z1HtaHM4"
NEXT_PUBLIC_SUPABASE_URL="https://vqafvmzvtrpvnmkpjmdl.supabase.co"
ntd_POSTGRES_DATABASE="postgres"
ntd_POSTGRES_HOST="db.vqafvmzvtrpvnmkpjmdl.supabase.co"
ntd_POSTGRES_PASSWORD="IB4Fk9ww3ohI5EUK"
ntd_POSTGRES_PRISMA_URL="postgres://postgres.vqafvmzvtrpvnmkpjmdl:IB4Fk9ww3ohI5EUK@aws-1-us-east-1.pooler.supabase.com:6543/postgres?sslmode=require&pgbouncer=true"
ntd_POSTGRES_URL="postgres://postgres.vqafvmzvtrpvnmkpjmdl:IB4Fk9ww3ohI5EUK@aws-1-us-east-1.pooler.supabase.com:6543/postgres?sslmode=require&supa=base-pooler.x"
ntd_POSTGRES_URL_NON_POOLING="postgres://postgres.vqafvmzvtrpvnmkpjmdl:IB4Fk9ww3ohI5EUK@aws-1-us-east-1.pooler.supabase.com:5432/postgres?sslmode=require"
ntd_POSTGRES_USER="postgres"
ntd_SUPABASE_ANON_KEY="your_supabase_anon_key_here"
ntd_SUPABASE_JWT_SECRET="your_supabase_jwt_secret_here"
NEXT_PUBLIC_ntd_SUPABASE_PUBLISHABLE_KEY="your_supabase_publishable_key_here"
ntd_SUPABASE_SECRET_KEY="your_supabase_secret_key_here"
ntd_SUPABASE_SERVICE_ROLE_KEY="your_supabase_service_role_key_here"
ntd_SUPABASE_URL="your_supabase_url_here"

# `openssl rand -base64 32`
AUTH_SECRET=
AUTH_URL=http://localhost:3000/api/auth